.menu{
    display: flex;
    align-items: center
}
.menuUl{
    li{
        height: 40px;
        padding: 0 !important;
        line-height: 40px;
        border: 0;
    }
   
}
.icon-color{
    color: #fff;
    
}