.page-home {
  position: relative;
}

.page-home .bgimg {
  width: 100%;
}

.page-home .home-L {
  width: 100%;
}

.page-home .cricle .outside {
  display: flex;
}

.page-home .cricle .outside img {
  width: 8rem;
  height: 8rem;
  border: 1px solid #000;
  margin: 0 auto;
}

.page-home .Row {
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height:available;
  width: 100%;
  height: 100%;
  background-color: #323232;
  display: flex;
  align-items: center;
}

.cricle img {
  transition: all 2s ease-in;
}

.show {
  border-radius: 100%;
  transform: rotate(360deg);
}

@keyframes show-item {
  100% {
    margin-left: 730px;
    border-radius: 50px;
    transform: rotate(360deg);
  }
}
